body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    height: 100%
}

.startBtn button{
    font-size: 50px;
    font-weight: 500;
    color: crimson;
    border-radius: 20px;
    background: white;    
}

.quizRulesBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.quizRulesBox{

    background-color: cornsilk;
    position: absolute;
    border-radius: 20%;
    font-size: 20px;
    width: 600px;
    padding: 0 20px 30px;
    border: 10px double crimson;
}
.quizRulesBox::after{
    display: contents;
    }

.quizRulesBox .rules span{
    color: crimson;
}

.quizRulesBox .quizRule{
    height: 70px;
    width: 80%;
    border-bottom: 4px solid orchid;
    font-size: 50px;
    align-items: center;
    padding: 0 25px;
}

#start {
    font-size: 25px;
    color: rgb(122, 11, 104);
    border-radius: 20px;
    background: rgb(221, 183, 220); 
    align-items: center;
}
